<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="utilisateur">
      <h2 data-cy="utilisateurDetailsHeading"><span>Utilisateur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ utilisateur.id }}</span>
        </dd>
        <dt><span>Nom Complet</span></dt>
        <dd>
          <span>{{ utilisateur.nomComplet }}</span>
        </dd>
        <dt><span>Compte</span></dt>
        <dd>
          <span>{{ utilisateur.compte?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/utilisateur', utilisateur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
