<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tache">
      <h2 data-cy="tacheDetailsHeading"><span>Tache</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ tache.id }}</span>
        </dd>
        <dt><span>Intitule</span></dt>
        <dd>
          <span>{{ tache.intitule }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ tache.description }}</span>
        </dd>
        <dt><span>Date Debut</span></dt>
        <dd>
          <span>{{ tache.dateDebut | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Date Fin</span></dt>
        <dd>
          <span>{{ tache.dateFin | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Utilisateur</span></dt>
        <dd>
          <div *ngIf="tache.utilisateur">
            <a [routerLink]="['/utilisateur', tache.utilisateur?.id, 'view']">{{ tache.utilisateur?.nomComplet }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/tache', tache.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
