<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="evenement">
      <h2 data-cy="evenementDetailsHeading"><span>Evenement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ evenement.id }}</span>
        </dd>
        <dt><span>Titre</span></dt>
        <dd>
          <span>{{ evenement.titre }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ evenement.description }}</span>
        </dd>
        <dt><span>Localisation</span></dt>
        <dd>
          <span>{{ evenement.localisation }}</span>
        </dd>
        <dt><span>Creneaux</span></dt>
        <dd>
          <div *ngIf="evenement.creneaux">
            <a [routerLink]="['/creneaux', evenement.creneaux?.id, 'view']">{{ evenement.creneaux?.id }}</a>
          </div>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
          <div *ngIf="evenement.employee">
            <a [routerLink]="['/utilisateur', evenement.employee?.id, 'view']">{{ evenement.employee?.utilisateur }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/evenement', evenement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
