<div>
  <h2 id="page-heading" data-cy="TacheHeading">
    <span>Taches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tache"
        [routerLink]="['/tache/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Tache </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="taches?.length === 0">
    <span>No taches found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="taches && taches.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Intitule</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"><span>Date Debut</span></th>
          <th scope="col"><span>Date Fin</span></th>
          <th scope="col"><span>Utilisateur</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tache of taches; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tache', tache.id, 'view']">{{ tache.id }}</a>
          </td>
          <td>{{ tache.intitule }}</td>
          <td>{{ tache.description }}</td>
          <td>{{ tache.dateDebut | formatMediumDatetime }}</td>
          <td>{{ tache.dateFin | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="tache.utilisateur">
              <a [routerLink]="['/utilisateur', tache.utilisateur?.id, 'view']">{{ tache.utilisateur?.nomComplet }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tache', tache.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/tache', tache.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(tache)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
