<div>
  <h2 id="page-heading" data-cy="EvenementHeading">
    <span>Evenements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-evenement"
        [routerLink]="['/evenement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Evenement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="evenements?.length === 0">
    <span>No evenements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="evenements && evenements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Titre</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"><span>Localisation</span></th>
          <th scope="col"><span>Creneaux</span></th>
          <th scope="col"><span>Employee</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evenement of evenements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/evenement', evenement.id, 'view']">{{ evenement.id }}</a>
          </td>
          <td>{{ evenement.titre }}</td>
          <td>{{ evenement.description }}</td>
          <td>{{ evenement.localisation }}</td>
          <td>
            <div *ngIf="evenement.creneaux">
              <a [routerLink]="['/creneaux', evenement.creneaux?.id, 'view']">{{ evenement.creneaux?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="evenement.employee">
              <a [routerLink]="['/utilisateur', evenement.employee?.id, 'view']">{{ evenement.employee?.utilisateur }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/evenement', evenement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/evenement', evenement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(evenement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
